<%- include("partials/header") -%> 
      <section class="text-gray-400 bg-gray-300 body-font">
        <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
          <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
            <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-black">SAVE LIVES WITH PLASMA
            </h1>
            <p class="mb-8 leading-relaxed">Plasma from recovered COVID-19 patients can help save lives.</p>
            <div class="flex justify-center">
              <button class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg"><a href="/donor">Register As Donor</a></button>
              <button class="ml-4 inline-flex text-gray-400 bg-gray-800 border-0 py-2 px-6 focus:outline-none hover:bg-gray-700 hover:text-white rounded text-lg"><a href="/patient"> Register As Patient</a></button>
            </div>
          </div>
          <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
            <img class="object-cover object-center rounded" alt="hero" src="images/heart.png">
          </div>
        </div>
      </section>

<!-- component -->
<h1 class="text-2xl items-center justify-center font-medium flex flex-col" > Available Donor</h1>
<div  style="padding: 20px;"class="flex items-center justify-center">
 
  <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-4">
      <!-- 1 card -->
      
      <% for(let i=0;i<4;i++){ %> 
      <div class="relative bg-gray-100 py-6 px-6 rounded-3xl w-64 my-4 shadow-xl">
          <div class=" text-white flex items-center absolute rounded-full py-4 px-4 shadow-xl bg-pink-500 left-4 -top-6">
              <!-- svg  -->
              <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 18h.01M8 21h8a2 2 0 002-2V5a2 2 0 00-2-2H8a2 2 0 00-2 2v14a2 2 0 002 2z" />
              </svg>
          </div>
          <div class="mt-8">
              <p class="text-xl font-semibold my-2"><%= person[i].name %></p>
              <div class="flex space-x-2 text-gray-400 text-sm">
                  <!-- svg  -->
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
                  </svg>
                   <p><%= person[i].city  %> </p> 
              </div>
              <div class="flex space-x-2 text-gray-400 text-sm my-3">
                  <!-- svg  -->
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                  </svg>
                   <p>1 Weeks Left</p> 
              </div>
              <div class="border-t-2"></div>

              <div class="flex justify-between">
                  <div class="my-2">
                      <p class="font-semibold text-base mb-2">Mobile</p>
                      <div class="flex space-x-2">
                          
                      <p class="font-semibold text-base mb-2"><%= person[i].mobile %> </p>
                      </div>
                  </div>
                   <div class="my-2">
                      <p class="font-semibold text-base mb-2">Blood Group</p>
                      <div class="text-base text-gray-400 font-semibold">
                          <p><%= person[i].blood %> </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <% }  %> 

  </div>
</div>
      
      

      <div id="donaters" class="flex flex-col items-center justify-center min-h-screen p-10 text-gray-700 bg-gray-100 md:p-20">
        
      
        <!-- Component Start -->
        <div  class="flex flex-wrap items-center justify-center w-full max-w-4xl mt-8">
          <div class="flex flex-col flex-grow mt-8 overflow-hidden bg-white rounded-lg shadow-lg">
            <div class="flex flex-col items-center p-10 bg-gray-200">
              <span class="font-semibold">By using City</span>
              <div class="flex items-center">
                <span class="text-3xl">Ex</span>
                <span class="text-xl font-bold">Lucknow</span>
                
              </div>
            </div>
            <div class="p-10">
              <form action="/city" method="post">
              <ul>
                <li class="flex items-center">
                  <label for="cars">Choose City:</label>
                  <select name="city" class="focus:ring-indigo-500 focus:border-indigo-500 my-5 h-full py-0 pl-2 pr-7 border-transparent bg-transparent text-gray-500 sm:text-sm rounded-md items-center">
                    <option >Lucknow</option>
                    <option >Delhi</option>
                    <option >Bangalore</option>
                    <option >Mumbai</option>
                    <option >Kolkata</option>
                  </select>
                </li> 
              </ul>
            </div>
            <div class="flex px-10 pb-10 justfy-center">
              <button class="flex items-center justify-center w-full h-12 px-6 text-sm uppercase bg-gray-200 rounded-lg">Search</button>
            </div>
          </form>
          </div>
      
          <!-- Tile 2 -->
          <div class="z-10 flex flex-col flex-grow mt-8 overflow-hidden transform bg-white rounded-lg shadow-lg md:scale-110">
            <div class="flex flex-col items-center p-10 bg-gray-200">
              <span class="font-semibold">By Using Pincode</span>
              <div class="flex items-center">
                <span class="text-3xl">Ex</span>
                <span class="text-4xl font-bold">226002</span>
                
              </div>
            </div>
            <div class="p-10">
              <form action="/search" method="post">
              <ul>
                <li class="flex items-center">
                  <label for="">PINCODE : </label>
                  <input required name="pincode" placeholder="Enter here" type="number">
                </li>
                <li class="flex items-center">
                  <label for="cars">Choose Blood Group:</label>
                  <select id="blood" name="blood" class="focus:ring-indigo-500 focus:border-indigo-500 my-5 h-full py-0 pl-2 pr-7 border-transparent bg-transparent text-gray-500 sm:text-sm rounded-md items-center">
                    <option value="oneg">O-</option>
                    <option value="opos">O+</option>
                    <option value="aneg">A-</option>
                    <option value="apos">A+</option>
                    <option value="bneg">B-</option>
                    <option value="bpos">B+</option>
                    <option value="abneg">AB-</option>
                    <option value="abpos">AB+</option>
                  </select>
                </li>
              </ul>
            </div>
            <div class="flex px-10 pb-10 justfy-center">
              <button class="flex items-center justify-center w-full h-12 px-6 text-sm uppercase bg-gray-200 rounded-lg">Search</button>
            </div>
          </form>
          </div>
        </div>
      
      </div>
      <div id="resources" class="flex flex-col items-center justify-center min-h-screen p-10 text-gray-700 bg-gray-100 md:p-20">
        <h2 class="text-2xl font-medium">Find Resources</h2>
      
      
          <!-- Tile 2 -->
          <div class="z-10 flex flex-col flex-grow mt-8 overflow-hidden transform bg-white rounded-lg shadow-lg md:scale-110">
            <div class="flex flex-col items-center p-10 bg-gray-200">
              <span class="font-semibold">By Using City And Resource</span>
            
            </div>
            <div class="p-10">
              <form action="/resource" method="post">
              <ul>
                <li class="flex items-center">
                  <label for="">Choose City</label>               
                    <select  name="city" class="focus:ring-indigo-500 focus:border-indigo-500 my-5 h-full py-0 pl-2 pr-7 border-transparent bg-transparent text-gray-500 sm:text-sm rounded-md items-center">
                    
                    <option >Lucknow</option>
                    <option >Delhi</option>
                    <option >Bangalore</option>
                    <option >Mumbai</option>
                    <option >Kolkata</option>
      

                   
                  </select>
                </li>
                <li class="flex items-center">
                  <label for="">Choose Resource</label>
                  <select  name="res" class="focus:ring-indigo-500 focus:border-indigo-500 my-5 h-full py-0 pl-2 pr-7 border-transparent bg-transparent text-gray-500 sm:text-sm rounded-md items-center">
                    <option>Beds</option>
                    
                  </select>
                </li>
              </ul>
            </div>
            <div class="flex px-10 pb-10 justfy-center">
              <button class="flex items-center justify-center w-full h-12 px-6 text-sm uppercase bg-gray-200 rounded-lg">Join now</button>
            </div>
          </form>
          </div>
      
        </div>
      
      </div>
      
      <section class="text-gray-400 bg-gray-800 body-font">
        <div class="container px-5 py-24 mx-auto flex flex-wrap">
          <div class="flex relative pt-10 pb-20 sm:items-center md:w-2/3 mx-auto">
            <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
              <div class="h-full w-1 bg-gray-700 pointer-events-none"></div>
            </div>
            <div class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-indigo-500 text-white relative z-10 title-font font-medium text-sm">1</div>
            <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
                <div class="flex-shrink-0 w-24 h-24 bg-gray-800 text-indigo-400 rounded-full inline-flex items-center justify-center">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-12 h-12" viewBox="0 0 24 24">
                      <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                      <circle cx="12" cy="7" r="4"></circle>
                    </svg>
                  </div>
              <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                <h2 class="font-medium title-font text-white mb-1 text-xl">Registration</h2>
                <p class="leading-relaxed">Whether you are a donor or a recipient we need some information to make the match.</p>
              </div>
            </div>
          </div>
          <div class="flex relative pb-20 sm:items-center md:w-2/3 mx-auto">
            <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
              <div class="h-full w-1 bg-gray-700 pointer-events-none"></div>
            </div>
            <div class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-indigo-500 text-white relative z-10 title-font font-medium text-sm">2</div>
            <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
              <div class="flex-shrink-0 w-24 h-24 bg-gray-800 text-indigo-400 rounded-full inline-flex items-center justify-center">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-12 h-12" viewBox="0 0 24 24">
                  <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                </svg>
              </div>
              <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                <h2 class="font-medium title-font text-white mb-1 text-xl">Match Requirements</h2>
                <p class="leading-relaxed">Matching requirement from both sides for further process</p>
              </div>
            </div>
          </div>
          <div class="flex relative pb-20 sm:items-center md:w-2/3 mx-auto">
            <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
              <div class="h-full w-1 bg-gray-700 pointer-events-none"></div>
            </div>
            <div class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-indigo-500 text-white relative z-10 title-font font-medium text-sm">3</div>
            <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
              <div class="flex-shrink-0 w-24 h-24 bg-gray-800 text-indigo-400 rounded-full inline-flex items-center justify-center">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-12 h-12" viewBox="0 0 24 24">
                  <circle cx="12" cy="5" r="3"></circle>
                  <path d="M12 22V8M5 12H2a10 10 0 0020 0h-3"></path>
                </svg>
              </div>
              <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                <h2 class="font-medium title-font text-white mb-1 text-xl">Connect</h2>
                <p class="leading-relaxed">After matching,we will share details of both donor and patients.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="text-gray-400 bg-gray-900 body-font">
        <div class="container px-5 py-24 mx-auto">
          <div class="lg:w-2/3 flex flex-col sm:flex-row sm:items-center items-start mx-auto">
            <h1 class="flex-grow sm:pr-16 text-2xl font-medium title-font text-white">You can help by awaring users about the platform and encouraging recovered users by participating.</h1>
            <button class="flex-shrink-0 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg mt-10 sm:mt-0"> <a href="/volunteer">Join Us</a></button>
          </div>
        </div>
      </section>
      <section id="can_donate" class="text-gray-400 bg-gray-900 body-font">
        <h1 style="text-align: center;font-size: 50px;color: white;">WHO CAN DONATE</h1>
        <div class="container px-5 py-24 mx-auto flex flex-wrap">
            
          <div class="flex flex-wrap -m-4">
            <div class="p-4 lg:w-1/2 md:w-full">
              <div class="flex border-2 rounded-lg border-gray-800 p-8 sm:flex-row flex-col">
                <div class="w-16 h-16 sm:mr-8 sm:mb-0 mb-4 inline-flex items-center justify-center rounded-full bg-gray-800 text-indigo-400 flex-shrink-0">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-8 h-8" viewBox="0 0 24 24">
                    <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                  </svg>
                </div>
                <div class="flex-grow">
                  <h2 class="text-white text-lg title-font font-medium mb-3">Can Donate If</h2>
                  <p class="leading-relaxed text-base">Were tested positive for COVID-19<br>

                    Fully recovered and free of Symptoms for 14 days<br>
                    
                    Between 18-60 years</p>
                  
                </div>
              </div>
            </div>
            <div class="p-4 lg:w-1/2 md:w-full">
              <div class="flex border-2 rounded-lg border-gray-800 p-8 sm:flex-row flex-col">
                <div class="w-16 h-16 sm:mr-8 sm:mb-0 mb-4 inline-flex items-center justify-center rounded-full bg-gray-800 text-indigo-400 flex-shrink-0">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10" viewBox="0 0 24 24">
                    <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                    <circle cx="12" cy="7" r="4"></circle>
                  </svg>
                </div>
                <div class="flex-grow">
                  <h2 class="text-white text-lg title-font font-medium mb-3">Cannot Donate If</h2>
                  <p class="leading-relaxed text-base">Weight less than 50 kg<br>

                    Females who have ever been pregnant<br>
                    
                    B.P >140 and diastolic > 60 or 90<br>
                    
                    Diabetic on insulin<br>
                    
                    Cancer Survivor<br>
                    
                    Uncontrolled diabetes Chronic kidney/heart/lung/liver disease.</p>
                
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <%- include("partials/footer") -%> 